{
  "openapi": "3.1.0",
  "info": {
    "title": "Merchant API",
    "version": "v1",
    "description": "Merchant API — Queek.\n\n## Errors\n\nEvery error answers `{\"error\": {\"code\", \"message\", \"field\"?, \"errors\"?, \"doc_url\", \"request_id\"}}`, alongside the\nlegacy top-level keys. Switch on `error.code`, never on the message. Codes: `ai_unavailable_in_test_mode`, `api_key_expired`, `api_key_mode_mismatch`, `api_key_revoked`, `app_embed_not_ready`, `app_grant_insufficient`, `app_handoff_failed`, `app_installation_gone`, `app_installation_pending`, `app_ip_not_allowed`, `app_proxy_failed`, `app_proxy_gone`, `app_token_revoked`, `bad_request`, `channel_gateway_unreachable`, `client_key_required`, `conflict`, `custom_domain_provisioning_failed`, `custom_gateway_forbidden`, `custom_gateway_kyc_required`, `custom_gateway_not_configured`, `custom_gateway_not_verified`, `custom_gateway_plan_required`, `custom_gateway_store_ineligible`, `custom_gateway_verification_failed`, `forbidden`, `gone`, `idempotency_key_in_progress`, `idempotency_key_reuse`, `insufficient_scope`, `invalid_client`, `invalid_client_key`, `metafield_definition_missing`, `metafield_filter_unsupported_type`, `metafield_namespace_reserved`, `metafield_value_invalid`, `metaobject_definition_missing`, `metaobject_field_invalid`, `metaobject_reference_invalid`, `metaobject_type_reserved`, `method_not_allowed`, `not_found`, `origin_not_allowed`, `origin_required`, `payload_too_large`, `payment_amount_mismatch`, `plan_inactive`, `private_key_required`, `requires_slot`, `resync_cooldown`, `route_not_available`, `server_error`, `service_unavailable`, `subscription_feature_locked`, `too_many_requests`, `translation_digest_stale`, `translation_locale_is_primary`, `translation_max_published_locales`, `translation_unknown_key`, `translation_unknown_locale`, `unauthenticated`, `unknown_product_ref`, `unknown_service`, `unknown_variant_ref`, `unsupported_media_type`, `validation_failed`, `vendor_access_denied`, `vendor_mail_sender_forbidden`, `vendor_mail_sender_not_configured`, `vendor_mail_sender_plan_required`, `vendor_mail_sender_verification_failed`.\nEach error carries `doc_url` pointing at its own entry in the error reference.\n\n## Request ids\n\nSend `X-Request-Id` (8–128 chars matching `^[A-Za-z0-9_.:-]+$`) to correlate your trace with ours,\nor read the one we generate — it is echoed on every response, error bodies included, and appears on every log line\nof the request. `X-Queek-Api-Version` carries the API version (`v1`).\n\n## Idempotency\n\nSend `Idempotency-Key` on a write and a retry cannot execute twice. Same key + same body replays the stored\nresponse verbatim with `Idempotent-Replayed: true` for 24h. Same key + a different body is\n`409 idempotency_key_reuse`. A concurrent duplicate waits 15s for the first to finish, then replays;\npast that it is `409 idempotency_key_in_progress`. Responses ≥ 400 are not stored, so a failure stays retryable.\nThe slot is vendor + caller + METHOD:path + key. The body is the fingerprint, not part of the slot. Operations that accept the header document it as a parameter.\n\n## Rate limits\n\n180 requests/min per API key + IP, or storefront origin + IP when no key is sent. On top of that, a private (`sk_live_`) key carries its\nstore's plan quota: `free` 60/min, `social_media` 120/min, `starter` 120/min, `growth` 240/min, `scale` 1200/min, `enterprise` 2400/min. sk_live_ private keys only. A pk_live_ public key is shared by every visitor of the store, so it gets no per-store bucket.\nExceeding either is `too_many_requests` with `Retry-After`.\n\n## Webhooks\n\nSubscribe an endpoint per store and Queek posts the signed event to it. Topics are listed under `webhooks`\nin this document; the body is signed with the Standard Webhooks scheme — HMAC-SHA256 over the base64-decoded secret, value `v1,<base64>` —\nover `{webhook-id}.{webhook-timestamp}.{raw body}`, tolerance 300s. A rotation keeps the previous secret valid for\n24h and sends both signatures, space delimited. Delivery is 8 attempts on a published backoff;\nan endpoint failing for 24h is disabled and the merchant notified. Every operation names the one scope it requires. A write scope also returns, in that write's own response, the record it wrote — listing or reading records needs the matching read scope. A key acts for its whole store, never only for the records one person created. Additive-only under v1: new operations, fields and enum values may be added, but existing operations, fields, values and auth behaviour never change incompatibly. A breaking change ships as v2 alongside v1, never in place.",
    "x-queek-spec-sha": "ad6ce191a187adc34402456d2e84c645b1b82fe6e669cbe74ddca1e29631fa41"
  },
  "servers": [
    {
      "url": "https://api.usequeek.com/api/v1/merchant",
      "description": "Current"
    }
  ],
  "tags": [
    {
      "name": "Store"
    },
    {
      "name": "Products"
    },
    {
      "name": "Variants"
    },
    {
      "name": "Images"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Inventory"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Discounts"
    },
    {
      "name": "Coupons"
    },
    {
      "name": "Shipping zones"
    },
    {
      "name": "Metafields"
    },
    {
      "name": "Metaobjects"
    },
    {
      "name": "Translations"
    },
    {
      "name": "Content"
    },
    {
      "name": "Apps"
    }
  ],
  "security": [
    {
      "merchantKey": []
    }
  ],
  "paths": {
    "/app/setup": {
      "put": {
        "operationId": "app.setup_update",
        "description": "Requires scope `merchant-app_setup-update`.\n\nStores the merchant-visible setup values for the calling installation (status plus the items sheet): the app calls this after its install/settings handoff answers 2xx, once its key is active. Full-body PUT — send the whole sheet every time.",
        "summary": "Update the installation setup notice",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppSetupNoticeRequest"
              },
              "example": {
                "status": "incomplete",
                "items": [
                  {
                    "key": "webhook_url",
                    "label": "Chowdeck webhook URL",
                    "value": "https://apps.usequeek.com/chowdeck/hooks/1095",
                    "sensitive": false,
                    "copyable": true,
                    "instructions": "Paste this into Chowdeck Vendor Portal → Settings → Webhooks."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Setup notice saved."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Setup notice saved.",
                  "data": {
                    "setup": {
                      "status": "incomplete",
                      "items": [
                        {
                          "key": "webhook_url",
                          "label": "Chowdeck webhook URL",
                          "value": "https://apps.usequeek.com/chowdeck/hooks/1095",
                          "sensitive": false,
                          "copyable": true,
                          "instructions": "Paste this into Chowdeck Vendor Portal → Settings → Webhooks."
                        }
                      ],
                      "updated_at": "2026-09-24T12:00:00+01:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-app_setup-update' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The selected status is invalid.",
                    "field": "status",
                    "errors": {
                      "status": [
                        "The selected status is invalid."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/alerts": {
      "post": {
        "operationId": "app.alerts_create",
        "description": "Requires scope `merchant-app_alerts-create`.\n\nPages the merchant through the bell (in-app only) for the calling installation: severity, title, message and an optional dedupe key that collapses repeats. Rate-limited per installation with 429 + Retry-After past the caps.",
        "summary": "Send a merchant alert",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAppAlertRequest"
              },
              "example": {
                "severity": "warning",
                "title": "Chowdeck menu out of sync",
                "message": "Two items on Chowdeck no longer match a product in your store. Open the app to relink them.",
                "dedupe_key": "menu-sync-1095"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Alert already sent.",
                        "Alert sent."
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Alert sent.",
                  "data": {
                    "type": "app_alert",
                    "severity": "warning",
                    "deduped": false,
                    "notification_id": "019a3c51-07a2-7d3e-9a41-5b8c2f0e6d17"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-app_alerts-create' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The selected severity is invalid.",
                    "field": "severity",
                    "errors": {
                      "severity": [
                        "The selected severity is invalid."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/requirements": {
      "put": {
        "operationId": "app.requirements_write",
        "description": "Requires scope `merchant-app-requirements-write`.\n\nReplaces the calling installation product requirements map: which products require line properties under the installation namespace and which exact claim key each requires. Products are addressed by p_id, scoped to the calling installation vendor.",
        "summary": "Replace the installation requirements sheet",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppRequirementStoreRequest"
              },
              "example": {
                "items": [
                  {
                    "product_p_id": 20418,
                    "prefix": "app.booking."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Requirements sheet saved."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Requirements sheet saved.",
                  "data": {
                    "requirements": [
                      {
                        "product_p_id": 20418,
                        "prefix": "app.booking."
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-app-requirements-write' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The prefix must live under the calling installation app namespace.",
                    "field": "items.0.prefix",
                    "errors": {
                      "items.0.prefix": [
                        "The prefix must live under the calling installation app namespace."
                      ],
                      "items.0.product_p_id": [
                        "Product p_id 999999 was not found on this store."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collected-definitions": {
      "get": {
        "operationId": "app.collected_definitions_list",
        "description": "Requires scope `merchant-collected-definitions-manage`.\n\nLists the collected definitions owned by the calling installation: the form types it created, ordered by type like the dashboard. Another installation’s types and merchant-held types never appear.",
        "summary": "List the installation’s collected definitions",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 100
            },
            "example": 2
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MetaobjectDefinitionResource"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "p_id": 74,
                      "type": "app_forms_12_catering_enquiry",
                      "name": "Catering enquiry",
                      "description": "Enquiries from the catering form.",
                      "display_field": "name",
                      "storefront_visible": false,
                      "has_pages": false,
                      "data_class": "collected",
                      "entry_cap_override": null,
                      "retention_days": null,
                      "fields": [
                        {
                          "key": "name",
                          "name": "Name",
                          "type": "single_line_text",
                          "required": true,
                          "validations": []
                        },
                        {
                          "key": "event_date",
                          "name": "Event date",
                          "type": "date",
                          "required": true,
                          "validations": []
                        },
                        {
                          "key": "guests",
                          "name": "Guests",
                          "type": "integer",
                          "required": true,
                          "validations": []
                        }
                      ],
                      "created_at": "2026-09-15T09:00:00.000000Z",
                      "updated_at": "2026-09-15T09:00:00.000000Z"
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJpZCI6NzQsIl9wb2ludHNUb05leHRJdGVtcyI6dHJ1ZX0"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collected-definitions-manage' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The limit field must be at least 1.",
                    "field": "limit",
                    "errors": {
                      "limit": [
                        "The limit field must be at least 1."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "app.collected_definitions_create",
        "description": "Requires scope `merchant-collected-definitions-manage`.\n\nCreates a collected definition owned by the calling installation. The type must carry the installation’s own app_{slug}_{installation} prefix — anything else 403s. The class is forced collected and the row is stamped with the installation.",
        "summary": "Create a collected definition",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectedDefinitionRequest"
              },
              "example": {
                "type": "app_forms_12_catering_enquiry",
                "name": "Catering enquiry",
                "description": "Enquiries from the catering form.",
                "display_field": "name",
                "fields": [
                  {
                    "key": "name",
                    "name": "Name",
                    "type": "single_line_text",
                    "required": true
                  },
                  {
                    "key": "event_date",
                    "name": "Event date",
                    "type": "date",
                    "required": true
                  },
                  {
                    "key": "guests",
                    "name": "Guests",
                    "type": "integer",
                    "required": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MetaobjectDefinitionResource"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Collected definition created",
                  "data": {
                    "p_id": 74,
                    "type": "app_forms_12_catering_enquiry",
                    "name": "Catering enquiry",
                    "description": "Enquiries from the catering form.",
                    "display_field": "name",
                    "storefront_visible": false,
                    "has_pages": false,
                    "data_class": "collected",
                    "entry_cap_override": null,
                    "retention_days": null,
                    "fields": [
                      {
                        "key": "name",
                        "name": "Name",
                        "type": "single_line_text",
                        "required": true,
                        "validations": []
                      },
                      {
                        "key": "event_date",
                        "name": "Event date",
                        "type": "date",
                        "required": true,
                        "validations": []
                      },
                      {
                        "key": "guests",
                        "name": "Guests",
                        "type": "integer",
                        "required": true,
                        "validations": []
                      }
                    ],
                    "created_at": "2026-09-15T09:00:00.000000Z",
                    "updated_at": "2026-09-15T09:00:00.000000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collected-definitions-manage' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The fields field is required.",
                    "field": "fields",
                    "errors": {
                      "fields": [
                        "The fields field is required."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collected-definitions/{definition}": {
      "patch": {
        "operationId": "app.collected_definitions_update",
        "description": "Requires scope `merchant-collected-definitions-manage`.\n\nUpdates one of the calling installation’s collected definitions, addressed by p_id. The type is immutable; a type another installation or the merchant holds 403s.",
        "summary": "Update a collected definition",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "definition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 74
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectedDefinitionRequest"
              },
              "example": {
                "description": "Enquiries from the catering form on adeyemifoods.com."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MetaobjectDefinitionResource"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Collected definition updated",
                  "data": {
                    "p_id": 74,
                    "type": "app_forms_12_catering_enquiry",
                    "name": "Catering enquiry",
                    "description": "Enquiries from the catering form on adeyemifoods.com.",
                    "display_field": "name",
                    "storefront_visible": false,
                    "has_pages": false,
                    "data_class": "collected",
                    "entry_cap_override": null,
                    "retention_days": null,
                    "fields": [
                      {
                        "key": "name",
                        "name": "Name",
                        "type": "single_line_text",
                        "required": true,
                        "validations": []
                      },
                      {
                        "key": "event_date",
                        "name": "Event date",
                        "type": "date",
                        "required": true,
                        "validations": []
                      },
                      {
                        "key": "guests",
                        "name": "Guests",
                        "type": "integer",
                        "required": true,
                        "validations": []
                      }
                    ],
                    "created_at": "2026-09-15T09:00:00.000000Z",
                    "updated_at": "2026-09-24T15:40:00.000000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collected-definitions-manage' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Collected definition not found",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "A definition's type is immutable — delete and recreate it instead.",
                    "field": "type",
                    "errors": {
                      "type": [
                        "A definition's type is immutable — delete and recreate it instead."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/records": {
      "post": {
        "operationId": "app.records_submit",
        "description": "Requires scope `merchant-collected-records-submit`.\n\nSubmits one record under one of the calling installation’s collected types. Values run the same field validation entries use; the source is forced app. Rate-limited per installation with 429 + Retry-After past the caps, on top of the per-definition storage cap.",
        "summary": "Submit a collected record",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectedRecordSubmitRequest"
              },
              "example": {
                "definition": "app_forms_12_catering_enquiry",
                "values": {
                  "name": "Funmilayo Ogunleye",
                  "event_date": "2026-11-22",
                  "guests": 250
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CollectedRecordResource"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Collected record submitted",
                  "data": {
                    "p_id": 5530,
                    "definition_p_id": 74,
                    "type": "app_forms_12_catering_enquiry",
                    "status": "new",
                    "source": "app",
                    "submitted_at": "2026-09-24T14:20:00.000000Z",
                    "values": {
                      "name": "Funmilayo Ogunleye",
                      "event_date": "2026-11-22",
                      "guests": 250
                    },
                    "created_at": "2026-09-24T14:20:00.000000Z",
                    "updated_at": "2026-09-24T14:20:00.000000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collected-records-submit' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The values field must be an array.",
                    "field": "values",
                    "errors": {
                      "values": [
                        "The values field must be an array."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "operationId": "collections.list",
        "description": "Requires scope `merchant-collections-read`.\n\nLists the store’s collections.",
        "summary": "List collections",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 100
            },
            "example": 2
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "eyJpZCI6MzEwOSwiX3BvaW50c1RvTmV4dEl0ZW1zIjp0cnVlfQ"
          },
          {
            "name": "collection_mode",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "all"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "maxLength": 255
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "asc",
                "desc",
                null
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "id": 3108,
                      "uid": "019a1c10-2b4d-7e8f-9a01-3c5d7e9f1b21",
                      "name": "Party Packs",
                      "slug": "party-packs",
                      "description": "Trays that feed a crowd.",
                      "image": "https://media.usequeek.com/uploads/stores/1095/collections/party-packs.jpg",
                      "logo": null,
                      "featured": true,
                      "position": 1,
                      "collection_mode": "manual",
                      "parent_uid": null,
                      "products_count": 6,
                      "children": [],
                      "created_at": "2026-07-01T12:00:00+01:00",
                      "updated_at": "2026-09-20T09:15:00+01:00"
                    },
                    {
                      "id": 3109,
                      "uid": "019a1c10-2b4d-7e8f-9a01-3c5d7e9f1b22",
                      "name": "Drinks",
                      "slug": "drinks",
                      "description": "Chapman, zobo and fresh juices.",
                      "image": null,
                      "logo": null,
                      "featured": false,
                      "position": 2,
                      "collection_mode": "smart",
                      "parent_uid": null,
                      "products_count": 3,
                      "children": [],
                      "created_at": "2026-07-01T12:00:00+01:00",
                      "updated_at": "2026-09-20T09:15:00+01:00"
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJpZCI6MzEwOSwiX3BvaW50c1RvTmV4dEl0ZW1zIjp0cnVlfQ"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collections-read' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The selected sort order is invalid.",
                    "field": "sort_order",
                    "errors": {
                      "sort_order": [
                        "The selected sort order is invalid."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/bulk": {
      "post": {
        "operationId": "collections.bulk_create",
        "description": "Requires scope `merchant-collections-create`.\n\nCreates several collections in one call.",
        "summary": "Create collections in bulk",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateVendorCollectionsRequest"
              },
              "example": {
                "collections": [
                  {
                    "name": "Drinks",
                    "description": "Chapman, zobo and fresh juices.",
                    "collection_mode": "smart"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "id": 3109,
                      "uid": "019a1c10-2b4d-7e8f-9a01-3c5d7e9f1b22",
                      "name": "Drinks",
                      "slug": "drinks",
                      "description": "Chapman, zobo and fresh juices.",
                      "image": null,
                      "logo": null,
                      "featured": false,
                      "position": 2,
                      "collection_mode": "smart",
                      "parent_uid": null,
                      "products_count": 3,
                      "children": [],
                      "created_at": "2026-07-01T12:00:00+01:00",
                      "updated_at": "2026-07-01T12:00:00+01:00"
                    }
                  ],
                  "success": true,
                  "message": "Collections created successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collections-create' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The collections field is required.",
                    "field": "collections",
                    "errors": {
                      "collections": [
                        "The collections field is required."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection}/products/pin": {
      "post": {
        "operationId": "collections.pin_product",
        "description": "Requires scope `merchant-collections-update`.\n\nPins a product to the top of a manual collection.",
        "summary": "Pin a product in a collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 3108
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinCollectionProductRequest"
              },
              "example": {
                "product_id": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b21",
                "pinned": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Product pinned in collection.",
                        "Product unpinned from collection."
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Product pinned in collection.",
                  "data": {
                    "collection_id": "019a1c10-2b4d-7e8f-9a01-3c5d7e9f1b21",
                    "product_id": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b21",
                    "pinned": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collections-update' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Collection not found",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The product id field is required.",
                    "field": "product_id",
                    "errors": {
                      "product_id": [
                        "The product id field is required."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection}/products/reorder": {
      "post": {
        "operationId": "collections.reorder_products",
        "description": "Requires scope `merchant-collections-update`.\n\nReorders the products of a manual collection.",
        "summary": "Reorder products in a collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 3108
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCollectionProductsRequest"
              },
              "example": {
                "product_ids": [
                  "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b21",
                  "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b23"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Collection products reordered successfully."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Collection products reordered successfully.",
                  "data": {
                    "collection_id": "019a1c10-2b4d-7e8f-9a01-3c5d7e9f1b21",
                    "ordered_count": 2
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-collections-update' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Collection not found",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The product ids field is required.",
                    "field": "product_ids",
                    "errors": {
                      "product_ids": [
                        "The product ids field is required."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts": {
      "get": {
        "operationId": "posts.list",
        "description": "Requires scope `merchant-posts-read`.\n\nLists the store’s posts.",
        "summary": "List posts",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
[...]
