{
  "openapi": "3.1.0",
  "info": {
    "title": "Queek Merchant API",
    "version": "v1",
    "description": "Merchant API — Queek.\n\n## Errors\n\nEvery error answers `{\"error\": {\"code\", \"message\", \"field\"?, \"errors\"?, \"doc_url\", \"request_id\"}}`.\nSwitch on `error.code`, never on the message. Codes: `ai_unavailable_in_test_mode`, `api_key_expired`, `api_key_mode_mismatch`, `api_key_revoked`, `app_embed_not_ready`, `app_grant_insufficient`, `app_handoff_failed`, `app_installation_gone`, `app_installation_pending`, `app_ip_not_allowed`, `app_proxy_failed`, `app_proxy_gone`, `app_token_revoked`, `bad_request`, `channel_gateway_unreachable`, `client_key_required`, `conflict`, `custom_domain_provisioning_failed`, `custom_gateway_forbidden`, `custom_gateway_kyc_required`, `custom_gateway_not_configured`, `custom_gateway_not_verified`, `custom_gateway_plan_required`, `custom_gateway_store_ineligible`, `custom_gateway_verification_failed`, `forbidden`, `gone`, `idempotency_key_in_progress`, `idempotency_key_reuse`, `insufficient_scope`, `invalid_client`, `invalid_client_key`, `metafield_definition_missing`, `metafield_filter_unsupported_type`, `metafield_namespace_reserved`, `metafield_value_invalid`, `metaobject_definition_missing`, `metaobject_field_invalid`, `metaobject_reference_invalid`, `metaobject_type_reserved`, `method_not_allowed`, `not_found`, `origin_not_allowed`, `origin_required`, `payload_too_large`, `payment_amount_mismatch`, `plan_inactive`, `private_key_required`, `requires_slot`, `resync_cooldown`, `route_not_available`, `server_error`, `service_unavailable`, `subscription_feature_locked`, `too_many_requests`, `translation_digest_stale`, `translation_locale_is_primary`, `translation_max_published_locales`, `translation_unknown_key`, `translation_unknown_locale`, `unauthenticated`, `unknown_product_ref`, `unknown_service`, `unknown_variant_ref`, `unsupported_media_type`, `validation_failed`, `vendor_access_denied`, `vendor_mail_sender_forbidden`, `vendor_mail_sender_key_unavailable`, `vendor_mail_sender_not_configured`, `vendor_mail_sender_plan_required`, `vendor_mail_sender_verification_failed`.\nEach error carries `doc_url` pointing at its own entry in the error reference, and `request_id` — always a\nstring — matching the `X-Request-Id` response header. Quote it in support.\n\n## Legacy top-level keys\n\nAdditive only, never a second contract: on error bodies the runtime still emits the pre-contract\ntop-level keys shipped clients read. `error_code` and `message` ride top-level on helper-produced refusals\n(the shared controller and ApiError error helpers, plus the client-auth handler branches);\n`request_id` and `doc_url` ride top-level ONLY on non-reissued controller-helper bodies (storefront, client,\ndeveloper and dashboard surfaces) — the Merchant API reissues refusals, so there they live inside `error`.\nThey are documented separately under `QueekLegacyErrorKeys`, which no operation references. New integrations\nswitch on `error.*`.\n\n## Request ids\n\nSend `X-Request-Id` (8–128 chars matching `^[A-Za-z0-9_.:-]+$`) to correlate your trace with ours,\nor read the one we generate — it is echoed on every response, error bodies included, and appears on every log line\nof the request. `X-Queek-Api-Version` carries the API version (`v1`).\n\n## Idempotency\n\nSend `Idempotency-Key` on a write and a retry cannot execute twice. Same key + same body replays the stored\nresponse verbatim with `Idempotent-Replayed: true` for 24h. Same key + a different body is\n`409 idempotency_key_reuse`. A concurrent duplicate waits 15s for the first to finish, then replays;\npast that it is `409 idempotency_key_in_progress`. Responses ≥ 400 are not stored, so a failure stays retryable.\nThe slot is vendor + caller + METHOD:path + key. The body is the fingerprint, not part of the slot. Operations that accept the header document it as a parameter.\n\n## Rate limits\n\n180 requests/min per API key + IP, or storefront origin + IP when no key is sent. On top of that, a private (`sk_live_`) key carries its\nstore's plan quota: `free` 60/min, `social_media` 120/min, `starter` 120/min, `growth` 240/min, `scale` 1200/min, `enterprise` 2400/min. sk_live_ private keys only. A pk_live_ public key is shared by every visitor of the store, so it gets no per-store bucket.\nExceeding either is `too_many_requests` with `Retry-After`.\n\n## Webhooks\n\nSubscribe an endpoint per store and Queek posts the signed event to it. Topics are listed under `webhooks`\nin this document; the body is signed with the Standard Webhooks scheme — HMAC-SHA256 over the base64-decoded secret, value `v1,<base64>` —\nover `{webhook-id}.{webhook-timestamp}.{raw body}`, tolerance 300s. A rotation keeps the previous secret valid for\n24h and sends both signatures, space delimited. Delivery is 8 attempts on a published backoff;\nan endpoint failing for 24h is disabled and the merchant notified. Every operation names the one scope it requires. A write scope also returns, in that write's own response, the record it wrote — listing or reading records needs the matching read scope. A key acts for its whole store, never only for the records one person created. Additive-only under v1: new operations, fields and enum values may be added, but existing operations, fields, values and auth behaviour never change incompatibly. A breaking change ships as v2 alongside v1, never in place.\n\n## Money\n\nEvery amount is a major-unit decimal string (`\"1500.00\"`), never a JSON float, always beside its `currency` code (ISO-4217).\n\n## Dates\n\nEvery `*_at` field is an ISO-8601 timestamp with numeric offset (`format: date-time`); the platform timezone is Africa/Lagos.\n\n## Deletes and creates\n\nDELETE answers `200` with the envelope (`{status, message, data}`), never `204`. Existing creates answer `200` and new creates answer `201` — both statuses are documented per operation and neither will change under you.",
    "x-queek-spec-sha": "c51b3ae2e5d17dc1e26f4cdb0b1271b46101bc28cd9fa3f404a39104a93684f0"
  },
  "servers": [
    {
      "url": "https://api.usequeek.com/api/v1/merchant",
      "description": "Current"
    }
  ],
  "tags": [
    {
      "name": "Store"
    },
    {
      "name": "Products"
    },
    {
      "name": "Variants"
    },
    {
      "name": "Images"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Inventory"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Team"
    },
    {
      "name": "Discounts"
    },
    {
      "name": "Coupons"
    },
    {
      "name": "Shipping zones"
    },
    {
      "name": "Metafields"
    },
    {
      "name": "Metaobjects"
    },
    {
      "name": "Translations"
    },
    {
      "name": "Content"
    },
    {
      "name": "Apps"
    },
    {
      "name": "Add-ons"
    },
    {
      "name": "Publications"
    },
    {
      "name": "Reviews"
    },
    {
      "name": "Files"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Payments"
    }
  ],
  "security": [
    {
      "merchantKey": []
    }
  ],
  "paths": {
    "/addon-groups": {
      "get": {
        "operationId": "addons.list",
        "description": "Requires scope `merchant-options-read`.\n\nLists this store’s add-on groups with cursor pagination (`limit` + `starting_after`, `has_more`/`next_cursor`; at most 25 per page). Each group carries at most 20 items with `items_count`/`items_truncated` beside them — read the group itself for the full member list before patching it. Only the store’s own groups ever list: a shared group is attach-only by ref and never appears here.",
        "summary": "List add-on groups",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 25
            },
            "example": 2
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Cursor page: `data` carries this page's rows, `next_cursor` the opaque cursor for the next page (absent on the last page).",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MerchantAddonGroup"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "has_more"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": 9101,
                      "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b77",
                      "title": "Extra Toppings",
                      "type": "multi",
                      "required": true,
                      "min": 1,
                      "max": 3,
                      "multiple_selection": true,
                      "is_pack_group": false,
                      "is_global": false,
                      "items": [
                        {
                          "id": 44101,
                          "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c01",
                          "name": "Grilled Chicken",
                          "price": "1500.00",
                          "in_stock": true,
                          "is_pack": false,
                          "is_global": false
                        },
                        {
                          "id": 44102,
                          "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c02",
                          "name": "Fried Plantain",
                          "price": "800.00",
                          "in_stock": true,
                          "is_pack": false,
                          "is_global": false
                        }
                      ],
                      "items_count": 2,
                      "items_truncated": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJpZCI6OTEwMiwiX3BvaW50c1RvTmV4dEl0ZW1zIjp0cnVlfQ"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-options-read' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The limit field must be at least 1.",
                    "field": "limit",
                    "errors": {
                      "limit": [
                        "The limit field must be at least 1."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addons.create",
        "description": "Requires scope `merchant-options-create`.\n\nCreates an add-on group with 1–200 item definitions (whole-number prices); answers the created group with a 201. min/max/required/multiple_selection must cohere and max is at least 1.",
        "summary": "Create an add-on group",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAddonGroupRequest"
              },
              "example": {
                "title": "Extra Toppings",
                "required": true,
                "min": 1,
                "max": 3,
                "multiple_selection": true,
                "items": [
                  {
                    "name": "Grilled Chicken",
                    "price": 1500
                  },
                  {
                    "name": "Fried Plantain",
                    "price": 800
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MerchantAddonGroup"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Add-on group created",
                  "data": {
                    "id": 9101,
                    "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b77",
                    "title": "Extra Toppings",
                    "type": "multi",
                    "required": true,
                    "min": 1,
                    "max": 3,
                    "multiple_selection": true,
                    "is_pack_group": false,
                    "is_global": false,
                    "items": [
                      {
                        "id": 44101,
                        "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c01",
                        "name": "Grilled Chicken",
                        "price": "1500.00",
                        "in_stock": true,
                        "is_pack": false,
                        "is_global": false
                      },
                      {
                        "id": 44102,
                        "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c02",
                        "name": "Fried Plantain",
                        "price": "800.00",
                        "in_stock": true,
                        "is_pack": false,
                        "is_global": false
                      }
                    ],
                    "items_count": 2,
                    "items_truncated": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-options-create' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The title field is required.",
                    "field": "title",
                    "errors": {
                      "title": [
                        "The title field is required."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addon-groups/{group}": {
      "get": {
        "operationId": "addons.retrieve",
        "description": "Requires scope `merchant-options-detail`.\n\nRetrieves one add-on group with every member item — the read-before-PATCH source of member ids. {group} is this store’s p_id or UUID; a foreign, shared or missing id is 404.",
        "summary": "Retrieve an add-on group",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 9101
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MerchantAddonGroup"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Add-on group",
                  "data": {
                    "id": 9101,
                    "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b77",
                    "title": "Extra Toppings",
                    "type": "multi",
                    "required": true,
                    "min": 1,
                    "max": 3,
                    "multiple_selection": true,
                    "is_pack_group": false,
                    "is_global": false,
                    "items": [
                      {
                        "id": 44101,
                        "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c01",
                        "name": "Grilled Chicken",
                        "price": "1500.00",
                        "in_stock": true,
                        "is_pack": false,
                        "is_global": false
                      },
                      {
                        "id": 44102,
                        "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c02",
                        "name": "Fried Plantain",
                        "price": "800.00",
                        "in_stock": true,
                        "is_pack": false,
                        "is_global": false
                      }
                    ],
                    "items_count": 2,
                    "items_truncated": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-options-detail' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Addon group not found.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "addons.update",
        "description": "Requires scope `merchant-options-update`.\n\nPatches an add-on group’s scalars and member items: id entries keep members, definition entries create them, omitted members detach (shared members pass through) and an empty items array echoes. Only carried scalars are re-validated, merged over the stored values.",
        "summary": "Update an add-on group",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 9101
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAddonGroupRequest"
              },
              "example": {
                "title": "Extra Toppings and Sides",
                "items": [
                  {
                    "id": 44101
                  },
                  {
                    "name": "Puff Puff",
                    "price": 500
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MerchantAddonGroup"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Add-on group updated",
                  "data": {
                    "id": 9101,
                    "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b77",
                    "title": "Extra Toppings and Sides",
                    "type": "multi",
                    "required": true,
                    "min": 1,
                    "max": 3,
                    "multiple_selection": true,
                    "is_pack_group": false,
                    "is_global": false,
                    "items": [
                      {
                        "id": 44101,
                        "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c01",
                        "name": "Grilled Chicken",
                        "price": "1500.00",
                        "in_stock": true,
                        "is_pack": false,
                        "is_global": false
                      },
                      {
                        "id": 44102,
                        "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c02",
                        "name": "Fried Plantain",
                        "price": "800.00",
                        "in_stock": true,
                        "is_pack": false,
                        "is_global": false
                      }
                    ],
                    "items_count": 2,
                    "items_truncated": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-options-update' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Addon group not found.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The max field must be an integer.",
                    "field": "max",
                    "errors": {
                      "max": [
                        "The max field must be an integer."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "addons.delete",
        "description": "Requires scope `merchant-options-delete`.\n\nDeletes an add-on group; answers its ids with `deleted: true`. Item rows survive.",
        "summary": "Delete an add-on group",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 9101
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The deleted group p_id."
                        },
                        "uid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The deleted group UUID."
                        },
                        "deleted": {
                          "type": "boolean",
                          "description": "Always true when this shape answers."
                        }
                      },
                      "required": [
                        "id",
                        "uid",
                        "deleted"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Add-on group deleted",
                  "data": {
                    "id": 9101,
                    "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b77",
                    "deleted": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-options-delete' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Addon group not found.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{product}/addons": {
      "post": {
        "operationId": "addons.attach",
        "description": "Requires scope `merchant-options-update`.\n\nHangs up to 200 of this store’s (or shared) add-on groups on a product without detaching what is there; a product that sells through variants is refused with 422. Answers the product’s ids plus its add-ons. A shared group’s p_id arrives outside the API (shared groups never list or retrieve) — hang it by ref.",
        "summary": "Attach add-on groups to a product",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 20417
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductAddonAttachRequest"
              },
              "example": {
                "groups": [
                  9101
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The product p_id."
                        },
                        "uid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The product UUID."
                        },
                        "addons": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MerchantAddonGroup"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "uid",
                        "addons"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Add-ons attached",
                  "data": {
                    "id": 20417,
                    "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b21",
                    "addons": [
                      {
                        "id": 9102,
                        "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b88",
                        "title": "Festival Gift Wrap",
                        "type": "single",
                        "required": false,
                        "min": 0,
                        "max": 1,
                        "multiple_selection": false,
                        "is_pack_group": false,
                        "is_global": true,
                        "items": [
                          {
                            "id": 44201,
                            "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4c11",
                            "name": "Gift Box",
                            "price": "2500.00",
                            "in_stock": true,
                            "is_pack": false,
                            "is_global": false
                          }
                        ],
                        "items_count": 1,
                        "items_truncated": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-options-update' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Product not found.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The groups field is required.",
                    "field": "groups",
                    "errors": {
                      "groups": [
                        "The groups field is required."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{product}/addons/{group}": {
      "delete": {
        "operationId": "addons.detach",
        "description": "Requires scope `merchant-options-update`.\n\nUnhangs one add-on group from a product; a group that is not on the product is 404. Answers the product’s ids plus its remaining add-ons.",
        "summary": "Detach an add-on group from a product",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 20417
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 9101
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The product p_id."
                        },
                        "uid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The product UUID."
                        },
                        "addons": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MerchantAddonGroup"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "uid",
                        "addons"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Add-ons detached",
                  "data": {
                    "id": 20417,
                    "uid": "019a1d52-3c8e-7f41-b0d2-6a3e9c1f4b21",
                    "addons": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-options-update' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the addressed record does not exist at this store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Add-on group not found on this product.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#not_found",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/traffic": {
      "get": {
        "operationId": "analytics.retrieve_traffic",
        "description": "Requires scope `merchant-analytics-traffic-read`.\n\nReads up to 30 days of anonymous storefront traffic for this store: daily views and visits, bot request count, and measurement metadata. Visits are not unique visitors because shared mobile networks can group shoppers. Bot requests count requests and are not views. Figures can lag live traffic by up to about ten minutes (daily totals refresh every five minutes and responses are cached for up to five); only the installed app's own key with this grant can use this route.",
        "summary": "Retrieve traffic analytics",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            },
            "example": 30
          },
          {
            "name": "app_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_app_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Traffic retrieved."
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Traffic retrieved.",
                  "data": {
                    "range": {
                      "days": 3,
                      "start": "2026-10-01T00:00:00+01:00",
                      "end": "2026-10-03T23:59:59+01:00"
                    },
                    "cards": {
                      "views": 31,
                      "visits": 21,
                      "bot_requests": 4
                    },
                    "charts": {
                      "views_trend": [
                        {
                          "date": "2026-10-01",
                          "views": 10,
                          "visits": 7
                        },
                        {
                          "date": "2026-10-02",
                          "views": 12,
                          "visits": 8
                        },
                        {
                          "date": "2026-10-03",
                          "views": 9,
                          "visits": 6
                        }
                      ]
                    },
                    "meta": {
                      "collecting_since": "2026-09-20T00:00:00+01:00",
                      "raw_retention_days": 14,
                      "dedupe_window_minutes": 30
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-analytics-traffic-read' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The days field must be at least 1.",
                    "field": "days",
                    "errors": {
                      "days": [
                        "The days field must be at least 1."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/setup": {
      "put": {
        "operationId": "app.setup_update",
        "description": "Requires scope `merchant-app_setup-update`.\n\nStores the merchant-visible setup values for the calling installation (status plus the items sheet): the app calls this once its installation key is active. Full-body PUT — send the whole sheet every time.",
        "summary": "Update the installation setup notice",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppSetupNoticeRequest"
              },
              "example": {
                "status": "incomplete",
                "items": [
                  {
                    "key": "webhook_url",
                    "label": "Chowdeck webhook URL",
                    "value": "https://apps.usequeek.com/chowdeck/hooks/1095",
                    "sensitive": false,
                    "copyable": true,
                    "instructions": "Paste this into Chowdeck Vendor Portal → Settings → Webhooks."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Setup notice saved."
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Setup notice saved.",
                  "data": {
                    "setup": {
                      "status": "incomplete",
                      "items": [
                        {
                          "key": "webhook_url",
                          "label": "Chowdeck webhook URL",
                          "value": "https://apps.usequeek.com/chowdeck/hooks/1095",
                          "sensitive": false,
                          "copyable": true,
                          "instructions": "Paste this into Chowdeck Vendor Portal → Settings → Webhooks."
                        }
                      ],
                      "updated_at": "2026-09-24T12:00:00+01:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-app_setup-update' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The selected status is invalid.",
                    "field": "status",
                    "errors": {
                      "status": [
                        "The selected status is invalid."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/alerts": {
      "post": {
        "operationId": "app.alerts_create",
        "description": "Requires scope `merchant-app_alerts-create`.\n\nPages the merchant through the bell (in-app only) for the calling installation: severity, title, message and an optional dedupe key that collapses repeats. Rate-limited per installation with 429 + Retry-After past the caps.",
        "summary": "Send a merchant alert",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAppAlertRequest"
              },
              "example": {
                "severity": "warning",
                "title": "Chowdeck menu out of sync",
                "message": "Two items on Chowdeck no longer match a product in your store. Open the app to relink them.",
                "dedupe_key": "menu-sync-1095"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Alert already sent.",
                        "Alert sent."
                      ]
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Alert sent.",
                  "data": {
                    "type": "app_alert",
                    "severity": "warning",
                    "deduped": false,
                    "notification_id": "019a3c51-07a2-7d3e-9a41-5b8c2f0e6d17"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-app_alerts-create' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The selected severity is invalid.",
                    "field": "severity",
                    "errors": {
                      "severity": [
                        "The selected severity is invalid."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/requirements": {
      "put": {
        "operationId": "app.requirements_write",
        "description": "Requires scope `merchant-app-requirements-write`.\n\nReplaces the calling installation product requirements map: which products require line properties under the installation namespace and which exact claim key each requires. Products are addressed by p_id, scoped to the calling installation vendor.",
        "summary": "Replace the installation requirements sheet",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a dev store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppRequirementStoreRequest"
              },
              "example": {
                "items": [
                  {
                    "product_p_id": 20418,
                    "prefix": "app.booking."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Requirements sheet saved."
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "Requirements sheet saved.",
                  "data": {
                    "requirements": [
                      {
                        "product_p_id": 20418,
                        "prefix": "app.booking."
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the key is missing, unknown, or its mode does not match its store. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "invalid_client_key",
                    "message": "This API accepts only a store private key: send it in the X-Client-Key header (Dashboard → Settings → API keys).",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#invalid_client_key",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key cannot call this operation. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_scope",
                    "message": "This API key does not carry the 'merchant-app-requirements-write' scope it was called with.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#insufficient_scope",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "idempotency_key_reuse",
                    "message": "This Idempotency-Key was already used for a different request body. Use a new key for a new request.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#idempotency_key_reuse",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — `error.errors` carries per-field detail. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "The prefix must live under the calling installation app namespace.",
                    "field": "items.0.prefix",
                    "errors": {
                      "items.0.prefix": [
                        "The prefix must live under the calling installation app namespace."
                      ],
                      "items.0.product_p_id": [
                        "Product p_id 999999 was not found on this store."
                      ]
                    },
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#validation_failed",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — slow down and retry. Switch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too Many Attempts.",
                    "doc_url": "https://docs.usequeek.com/docs/versioning-and-errors#too_many_requests",
                    "request_id": "5d1c9b3e-8f2a-4b6d-9c07-3e1f8a2b6d45"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collected-definitions": {
      "get": {
        "operationId": "app.collected_definitions_list",
[...]
