{
  "openapi": "3.1.0",
  "info": {
    "title": "Merchant API",
    "version": "v1",
    "description": "Merchant API — Queek.\n\n## Errors\n\nEvery error answers `{\"error\": {\"code\", \"message\", \"field\"?, \"errors\"?, \"doc_url\", \"request_id\"}}`, alongside the\nlegacy top-level keys. Switch on `error.code`, never on the message. Codes: `ai_unavailable_in_test_mode`, `api_key_expired`, `api_key_mode_mismatch`, `api_key_revoked`, `bad_request`, `client_key_required`, `conflict`, `custom_gateway_forbidden`, `custom_gateway_kyc_required`, `custom_gateway_not_configured`, `custom_gateway_not_verified`, `custom_gateway_plan_required`, `custom_gateway_store_ineligible`, `custom_gateway_verification_failed`, `forbidden`, `gone`, `idempotency_key_in_progress`, `idempotency_key_reuse`, `insufficient_scope`, `invalid_client_key`, `metafield_definition_missing`, `metafield_filter_unsupported_type`, `metafield_namespace_reserved`, `metafield_value_invalid`, `metaobject_definition_missing`, `metaobject_field_invalid`, `metaobject_reference_invalid`, `metaobject_type_reserved`, `method_not_allowed`, `not_found`, `origin_not_allowed`, `origin_required`, `payload_too_large`, `payment_amount_mismatch`, `plan_inactive`, `private_key_required`, `route_not_available`, `server_error`, `service_unavailable`, `too_many_requests`, `unauthenticated`, `unsupported_media_type`, `validation_failed`, `vendor_mail_sender_forbidden`, `vendor_mail_sender_not_configured`, `vendor_mail_sender_plan_required`, `vendor_mail_sender_verification_failed`.\nEach error carries `doc_url` pointing at its own entry in the error reference.\n\n## Request ids\n\nSend `X-Request-Id` (8–128 chars matching `^[A-Za-z0-9_.:-]+$`) to correlate your trace with ours,\nor read the one we generate — it is echoed on every response, error bodies included, and appears on every log line\nof the request. `X-Queek-Api-Version` carries the API version (`v1`).\n\n## Idempotency\n\nSend `Idempotency-Key` on a write and a retry cannot execute twice. Same key + same body replays the stored\nresponse verbatim with `Idempotent-Replayed: true` for 24h. Same key + a different body is\n`409 idempotency_key_reuse`. A concurrent duplicate waits 15s for the first to finish, then replays;\npast that it is `409 idempotency_key_in_progress`. Responses ≥ 400 are not stored, so a failure stays retryable.\nThe slot is vendor + caller + METHOD:path + key. The body is the fingerprint, not part of the slot. Operations that accept the header document it as a parameter.\n\n## Rate limits\n\n180 requests/min per API key + IP, or storefront origin + IP when no key is sent. On top of that, a private (`sk_live_`) key carries its\nstore's plan quota: `free` 60/min, `social_media` 120/min, `starter` 120/min, `growth` 240/min, `scale` 1200/min, `enterprise` 2400/min. sk_live_ private keys only. A pk_live_ public key is shared by every visitor of the store, so it gets no per-store bucket.\nExceeding either is `too_many_requests` with `Retry-After`.\n\n## Webhooks\n\nSubscribe an endpoint per store and Queek posts the signed event to it. Topics are listed under `webhooks`\nin this document; the body is signed with the Standard Webhooks scheme — HMAC-SHA256 over the base64-decoded secret, value `v1,<base64>` —\nover `{webhook-id}.{webhook-timestamp}.{raw body}`, tolerance 300s. A rotation keeps the previous secret valid for\n24h and sends both signatures, space delimited. Delivery is 8 attempts on a published backoff;\nan endpoint failing for 24h is disabled and the merchant notified. Every operation names the one scope it requires. A write scope also returns, in that write's own response, the record it wrote — listing or reading records needs the matching read scope. A key acts for its whole store, never only for the records one person created."
  },
  "servers": [
    {
      "url": "https://api.usequeek.com/api/v1/merchant",
      "description": "Current"
    }
  ],
  "tags": [
    {
      "name": "Store"
    },
    {
      "name": "Products"
    },
    {
      "name": "Variants"
    },
    {
      "name": "Images"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Inventory"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Discounts"
    },
    {
      "name": "Coupons"
    },
    {
      "name": "Shipping zones"
    },
    {
      "name": "Metafields"
    },
    {
      "name": "Metaobjects"
    },
    {
      "name": "Content"
    }
  ],
  "security": [
    {
      "merchantKey": []
    }
  ],
  "paths": {
    "/collections": {
      "get": {
        "operationId": "collections.list",
        "description": "Requires scope `merchant-collections-read`.\n\nLists the store’s collections.",
        "summary": "List collections",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1
            }
          },
          {
            "name": "collection_mode",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "maxLength": 255
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "asc",
                "desc",
                null
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CategoryResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CategoryResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "failed"
                    },
                    "error": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "message": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "error_type": {
                      "type": "string",
                      "const": "error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "title": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "status",
                    "error",
                    "message",
                    "error_type",
                    "data",
                    "title"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/collections/bulk": {
      "post": {
        "operationId": "collections.bulk_create",
        "description": "Requires scope `merchant-collections-create`.\n\nCreates several collections in one call.",
        "summary": "Create collections in bulk",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateVendorCollectionsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Array of `CategoryResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CategoryResource"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Collections created successfully"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "failed"
                    },
                    "error": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "message": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "error_type": {
                      "type": "string",
                      "const": "error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "title": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "status",
                    "error",
                    "message",
                    "error_type",
                    "data",
                    "title"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection}/products/pin": {
      "post": {
        "operationId": "collections.pin_product",
        "description": "Requires scope `merchant-collections-update`.\n\nPins a product to the top of a manual collection.",
        "summary": "Pin a product in a collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinCollectionProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Product pinned in collection.",
                        "Product unpinned from collection."
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Collection not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Collection not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection}/products/reorder": {
      "post": {
        "operationId": "collections.reorder_products",
        "description": "Requires scope `merchant-collections-update`.\n\nReorders the products of a manual collection.",
        "summary": "Reorder products in a collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCollectionProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Collection products reordered successfully."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Collection not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Collection not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/posts": {
      "get": {
        "operationId": "posts.list",
        "description": "Requires scope `merchant-posts-read`.\n\nLists the store’s posts.",
        "summary": "List posts",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "page",
                "post",
                "gallery",
                null
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "draft",
                "published",
                null
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/coupons": {
      "get": {
        "operationId": "coupons.list",
        "description": "Requires scope `merchant-coupons-read`.\n\nLists the store’s coupons.",
        "summary": "List coupons",
        "tags": [
          "Coupons"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1
            }
          },
          {
            "name": "discount_type",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Coupon"
                          }
                        },
                        "first_page_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "next_page_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "prev_page_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "data",
                        "first_page_url",
                        "from",
                        "last_page_url",
                        "last_page",
                        "links",
                        "next_page_url",
                        "path",
                        "per_page",
                        "prev_page_url",
                        "to",
                        "total"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "const": "Coupons retrieved successfully"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Vendor not found"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "coupons.create",
        "description": "Requires scope `merchant-coupons-create`.\n\nCreates a coupon.",
        "summary": "Create a coupon",
        "tags": [
          "Coupons"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCouponRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Coupon"
                    },
                    "message": {
                      "type": "string",
                      "const": "Coupon created successfully"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "const": "Vendor not found"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "customers.list",
        "description": "Requires scope `merchant-customers-read`.\n\nLists the store’s customers.",
        "summary": "List customers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "today",
                "this_week",
                "this_month",
                null
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "maxLength": 255
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "created_at",
                "updated_at",
                "joined_date",
                "name",
                "email",
                "phone",
                "p_id",
                "customer_orders_count",
                null
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "asc",
                "desc",
                null
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `VendorUserItemResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VendorUserItemResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/customers/followers": {
      "get": {
        "operationId": "customers.list_followers",
        "description": "Requires scope `merchant-customers-read`.\n\nLists the store’s followers.",
        "summary": "List followers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Followers retrieved"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "email": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "phone": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "avatar": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "shared_contact": {
                            "type": "boolean"
                          },
                          "is_customer": {
                            "type": "string"
                          },
                          "invited": {
                            "type": "string"
                          },
                          "followed_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "user_id",
                          "name",
                          "email",
                          "phone",
                          "avatar",
                          "shared_contact",
                          "is_customer",
                          "invited",
                          "followed_at"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "total",
                        "per_page",
                        "current_page",
                        "last_page"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{user_id}": {
      "get": {
        "operationId": "customers.retrieve",
        "description": "Requires scope `merchant-customers-detail`.\n\nRetrieves one customer. Contact fields are masked without the contact scope.",
        "summary": "Retrieve a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendor_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`UserItemResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserItemResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "failed"
                    },
                    "error": {
                      "type": "string",
                      "const": "User not found"
                    },
                    "message": {
                      "type": "string",
                      "const": "User not found"
                    },
                    "error_type": {
                      "type": "string",
                      "const": "error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "title": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "status",
                    "error",
                    "message",
                    "error_type",
                    "data",
                    "title"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/discounts": {
      "get": {
        "operationId": "discounts.list",
        "description": "Requires scope `merchant-discounts-read`.\n\nLists the store’s discounts with type, status and published filters.",
        "summary": "List discounts",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "percentage",
                "fixed",
                null
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "active",
                "inactive",
                null
              ]
            }
          },
          {
            "name": "is_published",
            "in": "query",
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "maxLength": 255
            }
          },
          {
            "name": "campaign_type",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "all",
                "discount",
                "promotion",
                null
              ]
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "failed"
                    },
                    "error": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "message": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "error_type": {
                      "type": "string",
                      "const": "error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "title": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "status",
                    "error",
                    "message",
                    "error_type",
                    "data",
                    "title"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "discounts.create",
        "description": "Requires scope `merchant-discounts-create`.\n\nCreates a discount.",
        "summary": "Create a discount",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDiscountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Discount created successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "failed"
                    },
                    "error": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "message": {
                      "type": "string",
                      "const": "Vendor not found"
                    },
                    "error_type": {
                      "type": "string",
                      "const": "error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "title": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "status",
                    "error",
                    "message",
                    "error_type",
                    "data",
                    "title"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/discounts/{id}": {
      "get": {
        "operationId": "discounts.retrieve",
        "description": "Requires scope `merchant-discounts-detail`.\n\nRetrieves one discount with its statistics.",
        "summary": "Retrieve a discount",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Discount retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Discount not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Discount not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/discounts/{discount}/publish": {
      "post": {
        "operationId": "discounts.publish",
        "description": "Requires scope `merchant-discounts-update`.\n\nPublishes a discount, making it usable.",
        "summary": "Publish a discount",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "discount",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Discount published successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Discount not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Discount not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/discounts/{discount}/unpublish": {
      "post": {
        "operationId": "discounts.unpublish",
        "description": "Requires scope `merchant-discounts-update`.\n\nUnpublishes a discount.",
        "summary": "Unpublish a discount",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "discount",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Discount unpublished successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Discount not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Discount not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "failed"
                        },
                        "error": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "message": {
                          "type": "string",
                          "const": "Vendor not found"
                        },
                        "error_type": {
                          "type": "string",
                          "const": "error"
                        },
                        "data": {
                          "type": "null"
                        },
                        "title": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "status",
                        "error",
                        "message",
                        "error_type",
                        "data",
                        "title"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict — `idempotency_key_reuse` or `idempotency_key_in_progress`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product}/images": {
      "get": {
        "operationId": "images.list",
        "description": "Requires scope `merchant-items-detail`.\n\nLists one product’s images.",
        "summary": "List product images",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "message": {
                      "type": "string",
                      "const": "Product images"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "default": {
            "description": "Error. Switch on `error.code` — one of the documented codes; `validation_failed` carries per-field detail in `error.errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueekError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "images.create",
        "description": "Requires scope `merchant-items-update`.\n\nAttaches a file-manager image to a product.",
        "summary": "Create a product image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "description": "A private API key (`sk_live_…`, `sk_test_…` on a test store) minted under Dashboard → Settings → API keys. The key is bound to ONE store, so no vendor header or `vendor_id` is sent; its scopes decide which operations it may call. `pk_` public keys never reach this API. Keep it on your server.",
            "schema": {
              "type": "string"
            },
            "example": "{{merchantKey}}"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Your own correlation id (8–128 chars, `^[A-Za-z0-9_.:-]+$`). Echoed back on the response and on every log line of the request; one is generated when you omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry-safe write key. The same key with the same body replays the stored response for 24h with `Idempotent-Replayed: true`; with a different body it is `409 idempotency_key_reuse`; while the first call is still running it is `409 idempotency_key_in_progress`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreProductImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
[...]
